<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Custom properties -->
    <property name="HOME_LOG" value="log/magneto.log" />
    <property name="PATTERN_LOG"
                  value="%d %p [%c{0}.%M.%L] %msg%n" />
    <!-- Appenders -->
    <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_LOG}</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <appender name="FILE-ROLLING"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/magneto.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN_LOG}</pattern>
        </encoder>
    </appender>
    <!-- Root info -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE-ROLLING" />
    </root>
</configuration>